@media (max-width: 1200px) {
  .catalog-block {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 1120px) {
  .d-block {
    display: none;
  }
  .d-hidden {
    display: block !important;
  }
  .header {
    height: 1223px;
  }
  .header__desc {
    flex-direction: column;
    align-items: start;
    gap: 40px;
  }
  .header__desc--row {
    display: flex;
    width: 100%;
    gap: 8%;
  }
  .desc__text {
    margin-bottom: 5%;
    max-width: 248px;
  }
  .about {
    padding-bottom: 0;
  }
  .about__img {
    display: block;
    margin: 0 auto;
    padding-bottom: 80px;
  }
}
@media (max-width: 960px) {
  .sale-block {
    flex-direction: column;
    align-items: start;
    max-width: 572px;
  }
}
@media (max-width: 768px) {
  .about__text {
    max-width: 220px;
  }
  .about__desc {
    gap: 20px;
  }
  .form {
    max-width: 744px;
    max-height: 670px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
@media (max-width: 654px) {
  .nav__list {
    display: none;
  }
  .nav__btn {
    display: none;
  }
  .mobile-nav-btn {
    display: block;
    z-index: 999;
  }
  .sale__item {
    width: 100px;
    height: 100px;
  }
  .sale__item--big {
    width: 255px;
    height: 100%;
  }
  .sale-block {
    max-width: 375px;
  }
  .form-content {
    flex-direction: column;
  }
  .no-scroll {
    height: 1073px;
  }
  .form-wrapper {
    height: 1073px;
  }
  .form {
    max-width: 335px;
    padding: 20px;
    overflow-y: scroll;
  }
}
@media (max-width: 574px) {
  .header {
    height: 1300px;
  }
  .header__desc--row {
    flex-direction: column;
    gap: 40px;
    align-items: start;
  }
  .desc__text {
    margin-left: auto;
  }
  .slider {
    max-width: 438px;
    width: unset;
  }
  .slide {
    height: 200px;
  }
  .desc__title {
    font-size: 38px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -1.52px;
  }
  .about {
    flex-direction: column;
  }
  .about__desc {
    flex-direction: column;
  }
  .about__text {
    max-width: 335px;
  }
  .catalog-block {
    grid-template-columns: 1fr;
  }
  .header__img {
    height: 410px;
    object-fit: cover;
  }
  .about__img {
    height: 365px;
    object-fit: cover;
  }
  .title-1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.64px;
  }
  .made-images {
    flex-direction: column;
  }
  .made-images img {
    width: 100%;
  }
  .sale-block .sale-images {
    max-width: 500px;
  }
  .footer-row {
    flex-wrap: wrap;
    gap: 40px;
  }
  .footer__between {
    flex-direction: column;
    align-items: start;
  }
  .sale__item {
    width: 80px;
    height: 80px;
  }
  .sale__item--big {
    width: 235px;
    height: 350px;
  }
  .sale-block {
    max-width: 335px;
  }
  .sale__title {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.48px;
  }
  .slide img {
    height: 190px;
  }
}
